- content_for :head do
  %link{:rel => 'stylesheet', :href => '/stylesheets/article.css', :type => 'text/css'}
  :javascript
    $(function(){ $('title').text( $('h1').first().text() + " | PayByGroup Merchant Documentation" ); })
#content
  %article
    = @content
      