.content{:class => "#{'full' if @sidebar.empty?}"}
  = @content
- unless @sidebar.empty?
  #js-sidebar.sidebar-shell
    .js-toggle-list.sidebar-module.expandable
      %ul
        %li.js-topic.js-current
          %ul.js-guides
            - @sidebar.each do |side|
              %li
                %a{:href => "#"}
                  = side.text
    .sidebar-module
      %p
        If you have any questions
        = succeed "." do
          %a{:href => "http://paybygroup.com/merchants/#demo", :target => "_blank"} contact us
        
