#footer
  .lower_footer
    %ul.footer-cell
      %li
        %a{:href => "#"} Terms of Service
      %li
        %a{:href => "#"} Privacy
      %li
        %a{:href => "#"} Security
    %span.footer-cell
      Inspired by
      %a{:href => "http://developer.github.com/"} GitHub API
    %span.footer-cell
      ©
      %span.js-year 2013
      PayByGroup
