#footer
  .lower_footer
    %ul.footer-cell
      %li
        %a{:href => "http://paybygroup.com/privacy-policy/"} Privacy
      %li
        %a{:href => "http://paybygroup.com/merchants/"} Merchant Site
      %li
        %a{:href => "http://paybygroup.com/merchants/#demo"} Get Access
    %span.footer-cell
      Inspired by
      %a{:href => "http://developer.github.com/"} GitHub API
    %span.footer-cell
      ©
      %span.js-year 2013
      PayByGroup
