.js-toggle-list.sidebar-module.expandable
  %ul
    %li.js-topic.js-current
      %ul.js-guides
        %li
          %a{:href => "/v3/oauth/"} OAuth
        %li
          %a{:href => "/v3/meta/"} Meta
        %li
          %a{:href => "/v3/media/"} Media Types
        %li
          %a{:href => "/v3/libraries/"} Libraries
